.footer-logo {
  width: 260px;
}

@media screen and (max-width: 400px) {
  .footer {
    margin-top: 55px;
  }

  .footer-logo {
    width: 190px;
  }

  .footer-text {
    font-size: 5vw !important;
    line-height: 5.2vw !important;
  }
}

@media screen and (max-width: 325px) {
  .social-container {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
