.header_container {
  width: 100vw;
  display: flex;
  padding: 20px;
  padding-left: 7%;
  padding-right: 7%;
  align-items: center;
  justify-content: space-between;
}

.contrax_logo {
  width: 13vw;
  margin-bottom: 20px;
}

.enter_button {
  background-color: #009aff;
  color: white;
  font-weight: bold;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 15px;
  height: fit-content;
}

.enter_button:hover {
  cursor: pointer;
  background-color: #32acfe;
}

/* Remove the inactive-btn & text-shrink classes (along with their
associated elements in Navigation.tsx) once the beta is live */
.inactive-btn {
  opacity: 0.6;
  pointer-events: none;
  padding-top: 7px;
}

.text-shrink {
  font-size: 0.7rem;
  line-height: 0.5rem;
  padding-bottom: 3px;
}
