.header_container {
  width: 100vw;
  display: flex;
  padding: 20px;
  padding-left: 7%;
  padding-right: 7%;
  align-items: center;
  justify-content: space-between;
}


@media (min-width: 1025px) and (max-width: 2080px){
  .contrax_logo {
    width: 30%;
    
    margin-bottom: 20px;
  }
}
@media (min-width: 520px) and (max-width: 1025px) {
  .contrax_logo {
    width: 50%;
    height: 30%;
    margin-bottom: 20px;
  }
}
@media (max-width: 520px) {
  .contrax_logo {
    width: 80%;
    height: 30%;
    margin-bottom: 20px;
  }
}
.enter_button {
  background-color: #009aff;
  color: white;
  font-weight: bold;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 15px;
  height: fit-content;
  width: fit-content;
}

.enter_button:hover {
  cursor: pointer;
  background-color: #32acfe;
}

/* Remove the inactive-btn & text-shrink classes (along with their
associated elements in Navigation.tsx) once the beta is live */
.inactive-btn {
  opacity: 0.6;
  pointer-events: none;
  padding-top: 7px;
}

.text-shrink {
  font-size: 0.7rem;
  line-height: 0.5rem;
  padding-bottom: 3px;
}
