.header_container {
  width: 100vw;
  height: 15vh;
  display: flex;
  padding: 20px;
  padding-left: 7%;
  padding-right: 7%;
  align-items: center;
  justify-content: space-between;
  background-color: #f9fafc;
}

.contrax-logo {
  width: clamp(150px, 12vw, 350px);
}

.enter-btn-container {
  text-decoration: none;
}

.enter-btn-container:hover {
  text-decoration: none;
}

.enter-btn {
  background-color: #009aff;
  color: white;
  font-weight: bold;
  padding: 17px 24px;
  border-radius: 15px;
  height: fit-content;
  width: fit-content;
}

.enter-btn:hover {
  cursor: pointer;
  background-color: #32acfe;
}

.enter-btn-text {
  margin-bottom: 0;
}

@media screen and (max-width: 325px) {
  .enter-btn {
    padding: 12px 20px;
  }

  .enter-btn-text {
    font-size: 14px;
  }
}
