.home-background {
  min-height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-container {
  padding-bottom: 12vh;
}

.hero-img {
  width: 100%;
}

.hero-h2-container {
  margin: 2vw 0 0.75vw 0;
}

.hero-h2 {
  font-size: 1.85vw !important;
  line-height: 2vw !important;
}

.hero-h1 {
  font-size: 4.1vw !important;
  line-height: 4.4vw !important;
}

.hero-h3 {
  font-size: 1.5vw !important;
  line-height: 1.7vw !important;
  margin: 1vw 0 0.3vw 0 !important;
}

.arbitrum-logo {
  width: 10vw;
  height: 1.8vw;
  min-width: 90px;
  min-height: 17px;
  margin-right: 1.7vw;
}

.sushi-logo {
  width: 8vw;
  height: 1.4vw;
  min-width: 80px;
  min-height: 13px;
  margin-right: 1.7vw;
}

.arbiscan-logo {
  width: 10vw;
  height: 1.8vw;
  min-width: 90px;
  min-height: 17px;
}

/* Manual override of border-radius on all Bootstrap landing page buttons */
.radius-change {
  border-radius: 15px !important;
}

@media screen and (max-width: 767px) {
  .hero-img {
    display: none;
  }

  .home-background {
    min-height: 400px;
  }

  .hero-container {
    padding: 0 20px !important;
  }

  .hero-h2 {
    font-size: 2.8vw !important;
    line-height: 3vw !important;
  }

  .hero-h1 {
    font-size: 6.4vw !important;
    line-height: 6.7vw !important;
  }

  .hero-h3 {
    font-size: 2.35vw !important;
    line-height: 2.5vw !important;
    margin-top: 1.15vw !important;
  }

  .arbitrum-logo {
    width: 18vw;
    height: 3.4vw;
  }

  .sushi-logo {
    width: 15vw;
    height: 2.5vw;
  }

  .arbiscan-logo {
    width: 18vw;
    height: 3.4vw;
  }
}

@media screen and (max-width: 500px) {
  .hero-h2 {
    font-size: 3.8vw !important;
    line-height: 3.95vw !important;
  }

  .hero-h1 {
    font-size: 8.5vw !important;
    line-height: 8.8vw !important;
  }

  .hero-h3 {
    font-size: 3.2vw !important;
    line-height: 3.35vw !important;
  }

  .arbitrum-logo {
    width: 24vw;
    height: 4.5vw;
  }

  .sushi-logo {
    width: 20vw;
    height: 3.35vw;
  }

  .arbiscan-logo {
    width: 24vw;
    height: 4.5vw;
  }
}

@media screen and (max-width: 400px) {
  .hero-h2 {
    font-size: 4.75vw !important;
    line-height: 4.95vw !important;
  }

  .hero-h1 {
    font-size: 10.6vw !important;
    line-height: 10.9vw !important;
  }

  .hero-h3 {
    font-size: 3.8vw !important;
    line-height: 4vw !important;
  }
}

@media screen and (max-width: 345px) {
  .hero-btn2 {
    display: none;
  }

  .hero-h2 {
    font-size: 5vw !important;
    line-height: 5.125vw !important;
  }

  .hero-h1 {
    font-size: 11vw !important;
    line-height: 11.2vw !important;
  }

  .hero-h3 {
    margin-top: 1.3vw !important;
  }
}
